body {
    background-color:#EA638C; 
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Bebas Neue';
    font-size: 60pt;
    text-align:center;
    border:7px dotted #FFD9DA;
    border-radius: 7px;
    padding-top: 7px;
    font-style:oblique; 
    color:#FFD9DA;
}

p{
    font-family: 'Gilda Display';
    font: size 20pt;
    padding-left:5px;
    padding-right:5px;
    text-align: justify;
    
}
/* Bio Section */
#bio{
    background-color: #26547D;
    padding:20px;
    text-align:center;
    color:#FFD9DA;
    border:7px double #7E9ACD;
    columns:2;
    max-height: 100%;
}
/* Used codes from About Me */
#bio p:first-letter {
    color:#7E9ACD;
    font-size: 3em;
    float:left;
    padding: 0.25em;
    margin:.05em;
    line-height:.65;
    border:3px solid #ffccc7;
    background-color:#EA638C;
    text-shadow:5px 5px 3px rgba(0,0,0,.5);
    box-shadow:5px 5px 3px rgba(0,0,0,.5);
    text-align:center;
    font-weight:bold;
    border-top-left-radius: .2em;
    border-bottom-right-radius:.2em;
    clear:both;
    font-style:bold;
    
}

#bio img {
    width:500px;
    align-items:center;
    background-color: #89023E;
    border:7px dotted #FFD9DA;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px black;
    align-items: center;
}

ul {
    background-color: #89023E;
    border: 7px dotted #FFD9DA;
}
ul li{
    text-align:left;
    font-family: 'Gilda Display';
    padding:5px;
}
li{
    font-weight: bold;
    color:#FFD9DA;
}

/* My Websites */
#portfolio {
    background-color: #89023E;
    padding:15px;
}

#gallery{
    display:flex;
    columns:3;
    align-items:center;
    max-width:100%;

}
#gallery img {
    width:300px;
    display:flex;
    align-items:center;
    border:7px double #7E9ACD;
    max-height:100;
    
}

#gallery figcaption {
    font-family:'Gilda Display';
    align-items:center;
    color:#FFD9DA;
    align-items:center;
    text-align:left;
    padding:5px;
}
/* Gallery Links */
a{
    color:#FFD9DA;
}

a:links {
    color:#FFD9DA;
    background-color:transparent;
    text-decoration: none;
}
a:active {
    color:#FFD9DA;
}

/* Review Section */
#Reviews{
    background-color:#FFD9DA;
    color:#89023E;
    text-align:center;
    rows:2;
    flex-direction:rows;
    padding:15px;
    border:7px solid #26547D;

    

}
h1{
    color:#89023E;
    border:7px dotted #26547D;
    
}
h6{
    color:#89023E;
}
#Reviews p{
    text-align:center;
    font-style:oblique;
    padding left:5px;
    padding-right:5px;
  
}

/* Footer */
footer {
    background-color:#26547D;
    border:7px double #7E9ACD;
    color:#FFD9DA;
    font-size: 15pt;
    text-align:center;
    padding: 7px; 
}