body {
    background-color:#FFD9DA;
    color: #FFD9DA;
}
h1{
    font-family:'Bebas Neue';
    font-size: 60pt;
}
p{
    font-family: 'Gilda Display';
    font: size 30pt;
}
/* Bio Section */
#bio {
    background-color:#26547D;
    border:4px dashed#EA638C;
    padding:5px;
    border-radius: 5px;
    columns: 2;
    flex-direction: column;

}
#bio img{
    width:400px;
    padding: 5px;
    background-color:#FFD9DA;
    }

#portfolio {

}
#Reviews {

}

#footer {
    background-color:#26547D;
}